/* My WEB120 Portal Website Styles */

html {
    background-color:#f1f1f1;
	border:2px solid black;
}

main.wrapper {
    background-color:#f1f1f1;
    overflow:auto;
}

h1>a {
    text-decoration: none;
    color:#000;
}

.logo {
    color:#007FB3;
    margin-left:1%;
    text-shadow:1px 1px #000;
    font-size:1.25em;
}

/* Embed Responsively Rules! */
div.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: auto;
    max-width: 98%;
} 

div.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
	clear:both;
	padding: 5px;
}
.pageID {
	padding:10px;
}
/* START RESPONSIVE STYLES */

/* DESKTOP */
@media all and (min-width:1400px) {
	
   main.wrapper {
		width:100%;
		margin:auto;
	}

    section {
		width:100%;
	}
	
	p.tababout{
		display:none;
	}
			
    img.desktop {
      		float:left;
		    padding: 10px;
       		width:50%;
            display:inline-block;
    }
    
    img.tablet, img.phone {
       	display:none;
    	}  
    
    /* Change background color of navigation on selected page */
    ul.topnav li a.selected {
        		background-color: #005B81;
        		color:#f1f1f1;
   	 }
}


/* TABLET */
@media all and (min-width:737px) and (max-width:1399px) {
	
	section {
		width:30%;
		float:left;
		display:inline;
	}
	
	aside{
		width:65%;
		float:right;
		margin-top:5%;
		display:inline;
	}
	
    img.tablet {
       		width:100%;
		    padding: 10px;
            display:block;
    }
    
	.about{
		display:none;
	
	}
	
    img.desktop, img.phone {
       	display:none;
    	}  
    
    
    /* Change background color of navigation on selected page */
    ul.topnav li a.selected {
        		background-color: #005B81;
        		color:#f1f1f1;
    }
}

/* PHONE */
@media all and (max-width:736px) {
    
    img.phone {
       		width:70%;
		    margin-left: auto;
			margin-right: auto;
            display:block;
    }
	
	section {
	    padding: 5px;
	}
	
	p.tababout{
		display:none;
	}
	
    img.tablet, img.desktop {
       	display:none;
    	}  
  ul.topnav li a.selected {
        		background-color: #005B81;
        		color:#f1f1f1;
  }
				
}