/* START HEADER SECTION */
* {
    margin: 0;
    padding: 0;
    list-style: none;  
    text-decoration: none; 
}
.header {
    width: 100%;
    height: 100px; 
    display: block; 
    background-color: #1d8fc4;   
}
.logo {
    height: 100px;
    background: transparent no-repeat center;
    background-size: cover;
    background-color: white;
    float: left;
}
.nav {
    height: 100%;
    display: block;
    float: right;
    background-color: #1d8fc4; 
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}
.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}
.arial-bold-white14px {
    display: inline;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: white;
    display: table-cell;
    vertical-align: middle;
    padding-top: 20px;
}
#cart {
    display: inline;
    background-color: transparent;
    height: 20px;
    padding-bottom: 30px;
}
/* END HEADER SECTION */
/* START FOOTER SECTION */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px; 
    display: block; 
    background-color: #1d8fc4;
}
.pie-logo {
    display: inline;
    height: 100px;
    background: #1d8fc4 no-repeat center;
    float: left;
}
.footer-nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #1d8fc4;
    grid-gap: 40px;
    padding: 0px;
    float: center;
}
.arial-white12px {
    display: inline;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: white;
    display: table-cell;
    vertical-align: middle;
    padding-top: 5px;

}
.left-footer {
    margin-left: auto;
    padding: 15px;
}
.media-logos {
    font-size: 15px;
    margin-left: auto;
    padding: 12px;
}
#facebook {
    height: 15px;
    padding-top: 5px;
}
#twitter {
    height: 15px;
    padding-top: 10px; 
}
#instagram {
    height: 15px; 
    padding-top: 8px;
}
.right-footer {
    margin-left: -50px;
    padding: 15px;
}
.contact-footer {
    margin-left: auto;
    padding: 15px;
}
/* END FOOTER SECTION */
/* START PRODUCTS */
@font-face {
    font-family: "Arial-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("https://anima-uploads.s3.amazonaws.com/projects/606bf418fd1c31b298fc5b40/fonts/fontsfree-net-arial-bold.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "Arial-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("https://anima-uploads.s3.amazonaws.com/5c58c99ae21217000c4e869b/arial.otf") format("opentype");
  }
  .container {
    pointer-events: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .screen a {
    text-decoration: none;
    display: contents;
  }

  :root {
    --white: #ffffff;
  
    --font-size-m: 14px;
    --font-size-s: 12px;
    --font-size-xs: 10px;
  
    --font-family-arial-bold: "Arial-Bold", Helvetica;
    --font-family-arial-regular: "Arial-Regular", Helvetica;
  }
  .arial-bold-white-14px {
    color: var(--white);
    font-family: var(--font-family-arial-bold);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
  }
.products {
    align-items: flex-start;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* ADJUST HEIGHT WHEN ADDING ROWS */
    height: 1345px;
    justify-content: flex-start;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    width: 1920px;
  }
  /**/
  .products .flex-col-1 {
    align-items: flex-start;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    height: auto;
    justify-content: flex-start;
    min-height: 820px;
    position: relative;
    width: 330px;
  }
  .products .flex-col-2 {
    align-items: flex-start;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    height: auto;
    justify-content: flex-start;
    margin-left: 20px;
    min-height: 820px;
    position: relative;
    width: 330px;
  }
  .products .flex-col-3 {
    align-items: flex-start;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    height: auto;
    justify-content: flex-start;
    margin-left: 20px;
    min-height: 820px;
    position: relative;
    width: 330px;
  }
  .products .flex-col-4 {
    align-items: flex-start;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    height: auto;
    justify-content: flex-start;
    margin-left: 20px;
    min-height: 820px;
    position: relative;
    width: 330px;
  }

  /**/
  .products .image {
    background-color: transparent;
    flex-shrink: 1;
    height: 330px;
    object-fit: cover;
    position: relative;
    width: 330px;
  }
  /**/
  .products .overlap-group {
    background-color: transparent;
    flex-shrink: 1;
    height: 910px;
    /* GRID MARGIN */
    margin-top: 10px;
    position: relative;
    width: 1920px;
  }
  /**/
  .products .prducts-grid {
    align-items: flex-start;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 820px;
    justify-content: flex-start;
    left: 270px;
    min-width: 1380px;
    position: absolute;
    top: 45px;
    width: auto;
  }
  /**/
  .products .product-name {
    background-color: transparent;
    flex-shrink: 1;
    height: auto;
    letter-spacing: 0.00px;
    line-height: 24px;
    min-height: 18px;
    min-width: 97px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: auto;
  }
  /**/
  .products .row {
    align-items: flex-start;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    height: auto;
    justify-content: flex-start;
    min-height: 400px;
    position: relative;
    width: 330px;
  }
  .products .row-2 {
    align-items: flex-start;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    height: auto;
    justify-content: flex-start;
    margin-top: 20px;
    min-height: 400px;
    position: relative;
    width: 330px;
  }
  .products .row-3 {
    align-items: flex-start;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    height: auto;
    justify-content: flex-start;
    margin-top: 20px;
    min-height: 400px;
    position: relative;
    width: 330px;
  }
  /**/
  .products .label {
    align-items: flex-start;
    background-color: transparent;
    background-image: url(../img/product-label-1@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    height: 70px;
    justify-content: flex-end;
    margin-top: 0px;
    min-width: 330px;
    padding: 22px 41px;
    position: relative;
    width: auto;
  }
  /**/
  .products .x {
    background-color: transparent;
    flex-shrink: 1;
    height: auto;
    letter-spacing: 0.00px;
    line-height: 24px;
    margin-left: 124px;
    min-height: 18px;
    min-width: 25px;
    position: relative;
    text-align: right;
    white-space: nowrap;
    width: auto;
  }
/* END PRODUCTS */